Lab01/flows.json
[
    {
        "id": "b4e64e49daf3f9c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "755ffa1d9b9a5d6e",
        "type": "mqtt in",
        "z": "b4e64e49daf3f9c7",
        "name": "",
        "topic": "4ID3_GroupA/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7bb39ca92f01fe6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 980,
        "y": 120,
        "wires": [
            [
                "3339129e5dce3d53",
                "680608d707aa25d9"
            ]
        ]
    },
    {
        "id": "3339129e5dce3d53",
        "type": "debug",
        "z": "b4e64e49daf3f9c7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 120,
        "wires": []
    },
    {
        "id": "680608d707aa25d9",
        "type": "ui_chart",
        "z": "b4e64e49daf3f9c7",
        "name": "Humidity",
        "group": "b8829744217781ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5f9fd2f1b564f2e4",
        "type": "mqtt in",
        "z": "b4e64e49daf3f9c7",
        "name": "",
        "topic": "4ID3_GroupA/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7bb39ca92f01fe6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 990,
        "y": 320,
        "wires": [
            [
                "04b78ce9753cd6a4",
                "10cc84abf5e0b300"
            ]
        ]
    },
    {
        "id": "04b78ce9753cd6a4",
        "type": "debug",
        "z": "b4e64e49daf3f9c7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 320,
        "wires": []
    },
    {
        "id": "10cc84abf5e0b300",
        "type": "ui_chart",
        "z": "b4e64e49daf3f9c7",
        "name": "Temperature",
        "group": "b8829744217781ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7b8d9b9af5d30032",
        "type": "mqtt in",
        "z": "b4e64e49daf3f9c7",
        "name": "",
        "topic": "4ID3_GroupA/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7bb39ca92f01fe6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 960,
        "y": 520,
        "wires": [
            [
                "47d4f550e6886bd5",
                "2665125659da1936"
            ]
        ]
    },
    {
        "id": "47d4f550e6886bd5",
        "type": "debug",
        "z": "b4e64e49daf3f9c7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "2665125659da1936",
        "type": "ui_chart",
        "z": "b4e64e49daf3f9c7",
        "name": "Pressure",
        "group": "b8829744217781ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f1ec596e134088f5",
        "type": "mqtt in",
        "z": "b4e64e49daf3f9c7",
        "name": "",
        "topic": "4ID3_GroupA/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7bb39ca92f01fe6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "f5267b5138b8fa09",
                "ee0d5ec4e0af5c8f"
            ]
        ]
    },
    {
        "id": "f5267b5138b8fa09",
        "type": "debug",
        "z": "b4e64e49daf3f9c7",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 680,
        "wires": []
    },
    {
        "id": "ee0d5ec4e0af5c8f",
        "type": "ui_chart",
        "z": "b4e64e49daf3f9c7",
        "name": "Light",
        "group": "b8829744217781ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "5000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7bb39ca92f01fe6b",
        "type": "mqtt-broker",
        "name": "Mosquitto Test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b8829744217781ab",
        "type": "ui_group",
        "name": "Default",
        "tab": "f2d8e0e7919bf78e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2d8e0e7919bf78e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]